<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.ExamMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="examid" keyColumn="examid">
        insert into tb_exam
        (ename,etype,efenzhi,testid)
        values (#{ename},#{etype},#{efenzhi},#{testid})
    </insert>
</mapper>